@model Repozytorium.Models.Zadanie

@{
  ViewBag.Tytul = "Usuń zadanie nr" + Model.Id;
  ViewBag.Opis = "Usuń zadanie nr" + Model.Id + " Opis do Google";
  ViewBag.SlowaKluczowe = "Zadanie, " + Model.Id + ", usuń";
}

<h2>Usuń zadanie nr @Model.Id</h2>
@if (ViewBag.Blad == true)
{
  <div class="alert alert-danger" role="alert">
    Wystąpił błąd podczas usuwania.
    <br />
    Spróbuj ponownie.
  </div>
}
<h3>Czy na pewno chcesz usunąć?</h3>
<div>
  <h4>Zadanie</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Nazwa)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Nazwa)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Opis)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Opis)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Termin)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Termin)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Status)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Status)
    </dd>

  </dl>

  @using (Html.BeginForm())
  {
  @Html.AntiForgeryToken()

    <div class="form-actions no-color">
      <input type="submit" value="Usuń" class="btn btn-danger confirmation" />
      | @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
    </div>
  }
</div>

@section Scripts{
  <script type="text/javascript">
    $('.confirmation').on('click', function () {
      return confirm('Czy na pewno chcesz usunąć?');
    });
  </script>
}
