@model Repozytorium.Models.Zadanie

@{
  ViewBag.Tytul = "Szczegóły zadania nr" + Model.Id; 
  ViewBag.Opis = "Szczegóły zadania nr" + Model.Id + " Opis do Google"; 
  ViewBag.SlowaKluczowe = "Zadanie, " + Model.Id + ",szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Zadanie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Termin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Termin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"}) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
</p>
